workflows/text-to-image-discord.json
{
  "id": "DiscordTextImg01",
  "name": "Discord长文转图片",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "events": ["messageCreated"],
        "additionalFields": {}
      },
      "id": "node-trigger-001",
      "name": "Discord Trigger",
      "type": "n8n-nodes-base.discordTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "auto",
      "credentials": {
        "discordApi": {
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-length",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "lengthGreaterThan",
                "singleValue": 500
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-check-001",
      "name": "检查文字长度",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst text = input.content || '';\nconst author = input.author?.username || 'User';\nconst guildName = input.guild?.name || 'Discord';\n\nconst escapeHtml = (str) => str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\n\nlet formattedText = escapeHtml(text);\nformattedText = formattedText\n  .replace(/```([\\s\\S]*?)```/g, '<pre class=\"code-block\">$1</pre>')\n  .replace(/`([^`]+)`/g, '<code class=\"inline-code\">$1</code>')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*([^*]+)\\*/g, '<em>$1</em>')\n  .replace(/__([^_]+)__/g, '<u>$1</u>')\n  .replace(/~~([^~]+)~~/g, '<del>$1</del>')\n  .replace(/\\n/g, '<br>');\n\nconst timestamp = new Date().toLocaleString('zh-CN', { timeZone: 'Asia/Shanghai', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>\n* { margin: 0; padding: 0; box-sizing: border-box; }\nbody { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #36393f; padding: 20px; }\n.message-container { background: #36393f; border-radius: 8px; padding: 16px 20px; max-width: 800px; }\n.header { display: flex; align-items: center; margin-bottom: 8px; }\n.avatar { width: 40px; height: 40px; border-radius: 50%; background: linear-gradient(135deg, #5865F2, #7289DA); display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; font-size: 18px; margin-right: 16px; }\n.author-name { font-weight: 600; font-size: 16px; color: #ffffff; margin-right: 8px; }\n.timestamp { font-size: 12px; color: #72767d; }\n.content { font-size: 16px; line-height: 1.6; color: #dcddde; margin-left: 56px; word-wrap: break-word; }\n.code-block { background: #2f3136; color: #b9bbbe; padding: 12px 16px; border-radius: 4px; font-family: monospace; font-size: 14px; margin: 8px 0; border-left: 3px solid #5865F2; }\n.inline-code { background: #2f3136; padding: 2px 6px; border-radius: 3px; font-family: monospace; font-size: 14px; color: #e8919d; }\nstrong { color: #ffffff; font-weight: 600; }\nem { color: #b9bbbe; font-style: italic; }\n.footer { margin-top: 16px; padding-top: 12px; border-top: 1px solid #42454a; text-align: center; font-size: 11px; color: #72767d; margin-left: 56px; }\n</style></head><body><div class=\"message-container\"><div class=\"header\"><div class=\"avatar\">${author.charAt(0).toUpperCase()}</div><span class=\"author-name\">${escapeHtml(author)}</span><span class=\"timestamp\">${timestamp}</span></div><div class=\"content\">${formattedText}</div><div class=\"footer\">via Discord Bot</div></div></body></html>`;\n\nreturn { json: { html, channelId: input.channelId, originalMessage: text, author } };"
      },
      "id": "node-html-001",
      "name": "生成HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apiflash.com/v1/urltoimage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_key", "value": "={{ $credentials.apiflashKey }}" },
            { "name": "html", "value": "={{ encodeURIComponent($json.html) }}" },
            { "name": "format", "value": "png" },
            { "name": "width", "value": "850" },
            { "name": "full_page", "value": "true" },
            { "name": "scale", "value": "2" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "file" } }
        }
      },
      "id": "node-screenshot-001",
      "name": "截图API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "send",
        "channelId": "={{ $('Discord Trigger').item.json.channelId }}",
        "content": "📸 文字已转换为图片",
        "attachments": {
          "attachments": [{ "name": "text-image.png", "binaryPropertyName": "data" }]
        }
      },
      "id": "node-send-img-001",
      "name": "发送图片",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1120, 200],
      "credentials": { "discordApi": { "name": "Discord Bot" } }
    },
    {
      "parameters": {
        "values": { "string": [{ "name": "reply", "value": "文字长度不足500字符，无需转换成图片~" }] }
      },
      "id": "node-skip-001",
      "name": "跳过提示",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 420]
    },
    {
      "parameters": {
        "operation": "send",
        "channelId": "={{ $('Discord Trigger').item.json.channelId }}",
        "content": "={{ $json.reply }}"
      },
      "id": "node-send-skip-001",
      "name": "发送跳过提示",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [900, 420],
      "credentials": { "discordApi": { "name": "Discord Bot" } }
    }
  ],
  "connections": {
    "Discord Trigger": { "main": [[{ "node": "检查文字长度", "type": "main", "index": 0 }]] },
    "检查文字长度": { "main": [[{ "node": "生成HTML", "type": "main", "index": 0 }], [{ "node": "跳过提示", "type": "main", "index": 0 }]] },
    "生成HTML": { "main": [[{ "node": "截图API", "type": "main", "index": 0 }]] },
    "截图API": { "main": [[{ "node": "发送图片", "type": "main", "index": 0 }]] },
    "跳过提示": { "main": [[{ "node": "发送跳过提示", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 1,
  "meta": { "templateCredsSetupCompleted": false }
}
